@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-jetbrains);
  --color-dig-deep: #0B1641;
  --color-dig-electric: #0052FF;
  --color-dig-cyan: #00D5FF;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), monospace;
  overflow-x: hidden;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.animate-shine {
  animation: shine 1.5s infinite;
}
